## Basic dataframe manipulation

In [1]:
import numpy as np
import pandas as pd

 From dic to Pandas DataFrame

In [2]:
d = {'a' : 1, 'b' : 2, 'c' : 4, 'd' : 8}
df = pd.DataFrame(list(d.items()),columns=['key','value'])
df.head()

  key  value
0   b      2
1   d      8
2   a      1
3   c      4

sorting and then resting the indexes

In [3]:
df = df.sort_values(by='value')
df.head()

  key  value
2   a      1
0   b      2
3   c      4
1   d      8

In [4]:
df = df.reset_index(drop=True)
df.head()

  key  value
0   a      1
1   b      2
2   c      4
3   d      8

To add new column as a combination of others

In [5]:
f = lambda x : 2 * x
df['double value'] = df['value'].map(f)
df.head()

  key  value  double value
0   a      1             2
1   b      2             4
2   c      4             8
3   d      8            16

Concatenation and removing intersections

In [6]:
d_1 = {'a' : 1, 'b' : 2, 'c' : 4, 'd' : 8}
d_2 = {'a' : 1, 'e' : 16, 'f' : 32, 'c' : 4}
df_1 = pd.DataFrame(list(d_1.items()),columns=['key','value'])
df_2 = pd.DataFrame(list(d_2.items()),columns=['key','value'])
dfs = [df_1, df_2]
df = pd.concat(dfs)
df

  key  value
0   b      2
1   d      8
2   a      1
3   c      4
0   c      4
1   e     16
2   a      1
3   f     32

In [7]:
df = df.drop_duplicates(['key'])
df

  key  value
0   b      2
1   d      8
2   a      1
3   c      4
1   e     16
3   f     32