## Basic dataframe manipulation

In [32]:
import numpy as np
import pandas as pd

 From dic to Pandas DataFrame

In [33]:
d = {'a' : 1, 'b' : 2, 'c' : 4, 'd' : 8}
df = pd.DataFrame(list(d.items()),columns=['key','value'])
df.head()

  key  value
0   b      2
1   a      1
2   c      4
3   d      8

Sorting by column. After sorting, we get a column permutation. To avoid this i use reset_index function.

In [34]:
df.sort_values(by='value')

  key  value
1   a      1
0   b      2
2   c      4
3   d      8

In [35]:
df.reset_index(drop=True)

  key  value
0   b      2
1   a      1
2   c      4
3   d      8